<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" />
  <arg name="paused" default="false"  />
  <arg name="gui" default="true"  />
  
  <!-- startup simulated world --> 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find ur_gazebo)/world/yash_final_final_final.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>

  </include>
  <group ns="/robot1">
      <!-- send robot urdf to param server -->
    <include file="$(find ur_gazebo)/launch/ur5_bringup.launch">
    <arg name="controllers" value="--namespace=/robot1 joint_state_controller eff_joint_traj_controller" doc="Controllers that are activated by default."/>
    <arg name="stopped_controllers" value="--namespace=/robot1 joint_group_eff_controller" doc="Controllers that are initally loaded, but not started."/>
    <arg name="spawn_x" value="-0.008724" doc="At which height the model should be spawned. NOTE: lower values will cause the robot to collide with the ground plane." />
    <arg name="spawn_y" value="-0.946393" doc="At which height the model should be spawned. NOTE: lower values will cause the robot to collide with the ground plane." />
    <arg name="spawn_z" value="0.66" doc="At which height the model should be spawned. NOTE: lower values will cause the robot to collide with the ground plane." />
    <arg name="gazebo_model_name" default="robot1" doc="The name to give to the model in Gazebo (after spawning it)." />
    </include><!-- push robot_description to factory and spawn robot in gazebo -->
  </group>

  <group ns="/robot2">
      <!-- send robot urdf to param server -->
    <include file="$(find urg_gazebo)/launch/ur5_bringup.launch">
    <arg name="controllers" value="--namespace=/robot2 joint_state_controller gazebo_ros_control eff_joint_traj_controller" doc="Controllers that are activated by default."/>
    <arg name="stopped_controllers" value="--namespace=/robot2 joint_group_eff_controller" doc="Controllers that are initally loaded, but not started."/>
    <arg name="spawn_x" value="-0.031276" doc="At which height the model should be spawned. NOTE: lower values will cause the robot to collide with the ground plane." />
    <arg name="spawn_y" value="0.948234" doc="At which height the model should be spawned. NOTE: lower values will cause the robot to collide with the ground plane." />
    <arg name="spawn_z" value="0.66" doc="At which height the model should be spawned. NOTE: lower values will cause the robot to collide with the ground plane." />
    <arg name="gazebo_model_name" default="robot2" doc="The name to give to the model in Gazebo (after spawning it)." />
    </include><!-- push robot_description to factory and spawn robot in gazebo -->
  </group>

             

</launch>
